/* Overstyr stien til fontene (rammeverkspesifikt) */
@use '~@oslokommune/punkt-css/dist/scss/abstracts/variables' with (
  $font-path: '~@oslokommune/punkt-assets/dist'
);

/* Bruk designsystemet */
@use '~@oslokommune/punkt-css/dist/scss/pkt';